ul,
ol {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #33468f;
}

ul {
  list-style: none;
}

body {
  background-color: #e7e7da;
}

* {
  color: black;
}

.btn {
  width: 250px;
  height: 50px;
  text-align: center;
  background-color: #87bae2;
  font-size: 25px;
  color: black;
  font-weight: 800;
}
