{{#if e}}
    <div class="errorMessage">{{e.message}}</div>
{{/if}}

<form action="/admin/addfilm" method="POST">

    <input type="text" name='title'>
    <input type="text" name='description'>
    <button type="submit">Добавить фильм</button>

</form>