<ul>
{{#each films}}
<li><a href="/film/{{this.filmLink}}">{{this.title}}</a> <a href="/admin/editfilm/{{this.id}}">Редактировать</a> <a href="/admin/deletefilm/{{this.id}}">Удалить</a></li>

{{/each}}
</ul>