<ul>
    <li>Фильмы
        <ul>
            <li><a href="/admin/films">Список фильмов</a> </li>
            <li><a href="/admin/addfilm">Добавить фильм</a></li>
        </ul>
        
    </li>
    <li>Пользователи
        <ul>
            <li><a href="/admin/users">Список Пользователей</a></li>
        </ul>
    </li>
</ul>