{{#if e}}
    <div class="errorMessage">{{e.message}}</div>
{{/if}}

<form action="/admin/editfilm/{{film.id}}" method="POST">

    <input type="text" name='title' value="{{film.title}}">
    <input type="text" name='description' value="{{film.description}}">
    <button type="submit">Редактировать</button>

</form>