{{#if e}}
    <div class="errorMessage">{{e.message}}</div>
{{/if}}

<form action="/user/signup" method="POST">

    <input type="text" name="nickname">
    <input type="email" name='email'>
    <input type="password" name='password'>
    <button type="submit">Зарегистрироваться</button>

</form>