{{#if e}}
    <div class="errorMessage">{{e.message}}</div>
{{/if}}

<form action="/user/signin" method="POST">

    <input type="email" name='email'>
    <input type="password" name='password'>
    <button type="submit">Войти</button>

</form>