.commentForm {
  margin-top: 15px;
  input {
    height: 35px;
    width: 650px;
  }
  button {
    display: block;
    padding: 15px 45px;
    background-color: #87bae2;
    font-size: 24px;
    margin-top: 10px;
  }
}
